@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    flex: 1;
    background-image: url(//wallpapers.com/images/hd/neon-purple-grid-cs0ux354vnrgmmax.jpg);
}

.navbar {
    height: 85px;
    color:black;
    font-size: 15px;
    font-family: 'Poppins', serif;
    display: flex;
    font-weight: 200;
    align-items: center;
    margin-top: 5px;
}

.navbar img {
    height: 81px;
    padding-left: 150px;
}

.links {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: auto;
    padding-right: 25px;
    margin-top: 30px;
}

.links ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

.link a:hover {
    transition: 0.3s ease-in-out;
    color: white;
    text-shadow: 0.8px 0.8px;
}

.link a:after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    opacity: 0;
    margin-top: 3px;
}

.link a:hover:after{
    transition: all 0.5s;
    opacity: 1;
}

.download {
    display: flex;
    padding-right: 170px;
    margin-top: 15px;
}

.resume {
    background-image: url(https://pastatic.picsart.com/71223921187331879964.jpg);
    background-position: 300px;
    background-size: cover;
    color: white;
    border: solid lightgray 2px;
    text-transform: uppercase;
    padding: 12px;
    font-size: 13px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 800;
}

.resume:hover {
    border: solid white 2px;
    color: white;
    cursor: pointer;
    text-shadow: 0.6px 0.6px;
    transition: 0.3s;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    display: none;
    padding-top: 7px;

}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    background-color: aliceblue;
    margin-bottom: 5px;
}

.content {
    display: flex;
    color: white;
    font-family: 'Poppins', 'Verdana';
    font-size: 1.8vw;
    flex-wrap: nowrap;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 15em;
    flex-grow: 1;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12em;
    padding-left: 5px;;
    padding-right: 5px;
}

.job {
    color: pink;
}
.picture img {
    clip-path: circle();
    border: 4px solid white;
    height: 20vw;
    width: 20vw; 
    max-width: 275px; 
    max-height: 275px;
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
}

.footer {
    color: white;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Verdana';
}


@media (max-width: 1024px) {
    .hamburger {
        display: flex;
        margin-right: 55px;
    }
    .links{ 
        padding: 0;
        position:fixed;
        top: -100%;
        left: 0px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        list-style-type: none;
        text-align: center;
        width: 100%;
    }
    .links .link {
        margin: 16px 0;
    }
    .navbar ul li a{
        color: black;
    }
    .links.active {
        top: 59px;
    }
    .navbar {
        justify-content: space-between;
    }
    .navbar img {
        margin-left: 55px;
        padding-left: 0;
    }
    .download {
        margin-top: 0px;
        margin-right: -135px;

    }
}

@media (max-width: 414px){
    .hamburger {
        margin-right: 25px;
    }
    .navbar img {
        margin-left: 10px;
        padding-left: 0;
    }
    .download button{
        padding: 10px;
    }
    .intro {
        flex-direction: column;
        font-size: 3.5vw;
        gap: 3em;
    }
    .picture img {
        height: 170px;
        width: 170px;
    }

}


